<!--
a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px;
    width: 150px;
    transition: 1s all ease;
    text-align: center;
    border-top: 2px solid #transparent;
    border-bottom: 2px solid #transparent;

}

a:hover {
    color: red;
    letter-spacing: 3px;
    border-top-color: #fff;
    border-bottom-color: #fff;

}

a:hover + div {

    color: blue;
}

a:hover ~ div {
    color: hotpink;
}

a hover ~ .div {
    clor: yello;
}

-->

ul, li {

   list-style: none;

}

li{
    padding: 15px;
}

ul {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-animation: 10s rollling[]

}

@-webkit-keyframes rolling {
    0% {
        top: 0;
    }
    100%{
        top: -300px;
    }
}
